$img_base_url = "https://juheimg.oss-cn-hangzhou.aliyuncs.com/wx_h5"

set_bg($url) 
  font-size 20px
  width 100%
  min-height 100vh
  background url($img_base_url + $url) no-repeat center / 100% 100%
  overflow hidden